body{
    display:flex;
    flex-direction: column;
    font: 15px/1 Arial, Helvetica, sans-serif;
}
h1{
    font-family: 'Fredericka the Great', cursive;
    font-size: 54px;
}
h2{
    font-variant: all-small-caps;
    font-size: 24px;
}
h3{
    font-size: 18px;
}

.container{
    width:90%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.container #blurb{
    text-align: center;
    width:100%;
}

#menus{
    display:flex;
    justify-content: space-around;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    #menus{
        display: flex;
        justify-content: space-around;
        padding: 20px;
        flex-wrap: wrap;
    }

}

#food{
    text-align: center;
}

#drinks{
    text-align: center;
}

header{
    display: flex;
    height:200px;
}

header #info{
    flex: 1;
    text-align: right;
    line-height: 0.5;
    height:200px;
    min-width: 175px;
}
header #logo{
    flex: 1;
}

header #logo img{
    max-height:200px;
    max-width:80%;
}

footer{
    font-size: 10px;
    margin-right:10px;
    padding:10px;
    text-align: right;
}